<html>
    <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chest Disease Classification</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     

<link rel="stylesheet" href="{{ url_for('static', filename='script/pro.css') }}">




</head>    
   
<body>
  
  <nav class="navbar navbar-expand-lg " style="background-color: rgb(12, 12, 12);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand"style="color:rgb(13, 230, 241)"href="#">PulmoAI</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link"  style="color:rgb(13, 230, 241)"href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:rgb(13, 230, 241)" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "style="color:rgb(13, 230, 241)" href="#">Contact Us</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0" style="color:rgb(13, 230, 241)">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <br>

<p> <p align="center" class="st5">Next-Gen Respiratory Disorder Detection Platform
<div class="container">
<div class="background" class="square-card "> 
<div class="card" class="square-card ">
<form  id="upload-data" name="upload-data"   >
<p align="center" class="st4">Lung Disorder Detection Platform
<p><img src="https://t4.ftcdn.net/jpg/04/32/62/27/360_F_432622715_W5LJ15OpH5mROEr4qPPTwhXwNDCwlmK7.jpg"  class="square-card" id="photo_img">
<canvas style="display:none;" id="canvas"></canvas>

<p><input type="hidden"  id="url" placeholder="" value="../predict" >
<p>&nbsp;<p><input name="fileinput_file" type="file" id="fileinput_file" style="position:absolute;top:-500px;" >
<p> <button type="button"  style="text-align: center;margin: 0 auto;width: 200px;height:35px; " class="btn btn-primary col-md-5 col-xs-5 ml-3 mr-4"  id="upload_cmd" name="upload_cmd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upload&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="predict_cmd" name="predict_cmd"  type="button"  style="background-color: #3fd649;text-align: center;margin: 0 auto;width: 200px;height:35px" class="btn btn-success col-md-5 col-xs-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Predict&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
         
    <div id="result_div" class="row"  >
      <fieldset   style= " background-image: url('https://wallpapers.com/images/featured/blank-white-7sn5o1woonmklx1h.jpg');
      border: 0px solid #000000">   
      <p align="center" class="st4">Prediction Result:

      <div class="res-part2 st2 "></div>
      <div class="res-part  st2  "><p align="center" class="st4">The CT Scan image is diagnosed as:</div>
              <p class="card-text"></p>
            </fieldset>
          </div>
      </div>
	  </form>
    </div>
  </div>
<div id="loading"><div class="loader"></div></div>
</body>
</html>

<script>
  var myphoto = document.getElementById('photo_img');
  var mycanvas = document.getElementById('canvas');

  var base_data = "";
  
  function sendRequest(base64Data){
    var type = "json";
    if(base64Data != "" || base64Data != null){
      if(type == "imgtobase"){
        $(".res-part").html("");
        $(".res-part").html(base64Data);
      }
      else if(type == "basetoimg"){
        var imageData = $("#imgstring").val();
        $(".res-part").html("");
        $(".res-part").append("<img src='data:image/jpeg;base64," + imageData + "' alt='' />");
      }
      else{
        var url = $("#url").val();
        $("#loading").show();
        $.ajax({
          url : url,
          type: "post",
          cache: false,
          async: true,
          crossDomain: true,
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin':'*'
          },
          data:JSON.stringify({image:base64Data}),
          success: function(res){
          $(".res-part").html("");
           $(".res-part2").html("");
            try{
              var imageData = res[1].image;
              if(imageData.length > 100){
                if(imageData.length > 10){$(".res-part2").append("<img class='resp-img' src='data:image/jpeg;base64," + imageData + "' alt='' />");}
              }
            }catch(e){}
            $(".res-part").html("<div style='text-align: center; margin: 0 auto; width: 50%'><pre style='font-weight: bold;font-size=13pt' > "+ JSON.stringify(res[0], undefined, 2) + "</pre></div>");
            $("#loading").hide();
            $("#result_div").show();
          }
        }); }   }   }
  
//TRIGGERED DURING THE FORM LOAD 
 $(document).ready(function(){
    $("#loading").hide();
    $("#result_div").hide();
  
    $('#predict_cmd').click(function(evt){
      sendRequest(base_data);
      });
  
      $('#upload_cmd').click(function(evt) {
          $('#fileinput_file').focus().trigger('click');
      });
	  
    $("#fileinput_file").change(function(){
      if (this.files && this.files[0]){
        var reader = new FileReader();
        reader.onload = function (e){
          var url = e.target.result;
          var img = new Image();
          img.crossOrigin = 'Anonymous';
          img.onload = function(){            var canvas = document.createElement('CANVAS');
            var ctx = canvas.getContext('2d');
            canvas.height = this.height;
            canvas.width = this.width;
            ctx.drawImage(this, 0, 0);
            base_data = canvas.toDataURL('image/jpeg', 1.0).replace(/^data:image.+;base64,/, '');
            canvas = null;
          };
          img.src = url;
          $('#photo_img').attr('src', url);
          $('#photo_img').show();
         }
        reader.readAsDataURL(this.files[0]);
      }   });    });
</script>